@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  background-color: hsl(0, 0%, 98%);
}

.header {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color:hsl(234, 12%, 34%);
}

.header h1 {
  font-weight: 200;
  font-size: 2rem;
  margin-top: 4%;
}

.header h2 {
  font-weight: 600;
  font-size: 2rem;
  color: hsl(234, 12%, 34%);
}

.header h3 {
  font-weight: 400;
  font-size: 0.9rem;
  color: hsl(229, 6%, 66%);
  width: 35vw;
  text-align: center;
  margin: 15px 0;
}

.container {
  width: 80%;
  margin: auto;
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-items: center;
  height: 230px;
  margin: 20px;
  padding: 25px;
  width: 300px;
  border-radius: 5px;
  box-shadow: 0px 0px 18px 0px #c2c2c2;
}

.card h4 {
  font-weight: 600;
  font-size: 1.1rem;
  color: hsl(234, 12%, 34%);
}

.card p {
  font-weight: 400;
  font-size: 0.8rem;
  color: hsl(229, 6%, 66%);
  margin: 7px 0 50px 0;
}

.card img {
  width: 55px;
  height: 55px;
  justify-self: baseline;
  align-self: flex-end;
}

.supervisor {
  border-top: 3px solid hsl(180, 62%, 55%);
}

.team {
  border-top: 3px solid hsl(0, 78%, 62%);
}

.karma {
  border-top: 3px solid hsl(34, 97%, 64%);
}

.calc {
  border-top: 3px solid hsl(212, 86%, 64%);
}

.attribution { 
  margin-top: 20px;
  font-size: 11px; 
  text-align: center; 
  color:hsl(234, 12%, 34%);
}

.attribution a { 
  color: hsl(228, 36%, 51%); 
}

@media (max-width: 600px) {
  .header {
    width: 90%;
  }
  
  .header h1 {
    font-size: 150%;
  }
  
  .header h2 {
    font-size: 150%;
  }

  .header h3 {
    width: 80%;
    font-size: 90%;
  }

  .container {
    width: 100%;
    flex-flow: row wrap;
  }

  .card h4 {
    font-size: 110%;
  }
  
  .card p {
    font-size: 90%;
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  .header h3 {
    width: 60%;
    font-size: 90%;
  }

  .container {
    flex-flow: row wrap;
  }

  div:nth-child(2) {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}